@import '../../css/mixins';
@import '../../css/variables';

.home {
    @include flexCenter(column);
    margin-top: 40px;

    .logo {
        width: 400px;
        @media (max-width: 900px) {
            width: 350px;
        }
    }

    h1 {
        margin-top: 20px;
        font-weight: 400;
        font-size: 32px;
    }

    .buttons {
        @include flexCenter(column);
        margin-top: 20px;
        .button {
            @include defaultButtonStyle();
        }
    }

    .send {
        cursor: pointer;
        margin-top: 20px;
        color: #fff;
        background-color: $button_color;
        width: 300px;
        height: 60px;
        border-radius: 50px;
        font-size: 24px;
        border: solid;
        transition: all ease .5s;

        &:hover {
            border: solid;
            border-color: $dark;
            color: $dark;
            background-color: $background_color;
        }
    }
}
