@import '../../css/mixins';
@import '../../css/variables';

.question {
    @include flexCenter(column);
    margin-top: 40px;

    .logo {
        width: 400px;

        @media (max-width: 900px) {
            width: 350px;
        }
    }

    h1 {
        margin-top: 1.2rem;
        margin-bottom: .8rem;
        font-weight: 400;
        font-size: 2rem;
        width: 50vw;
        text-align: center;
        @media (max-width: 900px) {
            font-size: 1.8rem;
            width: 80vw;
        }
    }

    .result {
        height: 100%;
        width: 100%;
        margin: 0;
        top: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        // display: none;
        @include flexCenter(column);
        display: none;

        h1 {
            color: $background-color;
            font-weight: 700;
            text-align: center;
        }

        .success {
            @include flexCenter(column);
            span {
                color: $correct_answer;
            }
            display: none;
        }

        .error {
            @include flexCenter(column);
            span {
                color: $wrong_answer;
            }
            display: none;
        }

        .alert {
            @include flexCenter(column);
            span {
                color: $alert_color;
            }
            display: none;
        }

        .navigate {
            @include flexCenter();
            cursor: pointer;
            margin-top: 20px;
            color: #fff;
            background-color: $button_color;
            width: 300px;
            height: 60px;
            border-radius: 50px;
            font-size: 24px;
            transition: all ease .5s;
            
            &:hover {
                color: #272425;
                background-color: $background_color;

                span {
                    color: #272425;
                }
            }

            span {
                color: white;
                transition: all ease .5s;
            }
        }
    }

    .cards {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        .card {
            cursor: pointer;
            display: flex;
            justify-content: start;
            align-items: center;
            background: #fff;
            margin-top: 10px;
            /* 558x63 */
            width: 35vw;
            height: 5rem;
            border-radius: 5px;
            box-shadow: 5px 2px 8px rgba(0, 0, 0, .15);
            transition: all ease .3s;
            
            @media (max-width: 900px) {
                width: 80vw;
            }

            svg {
                margin-left: 20px;

                .inner {
                    fill: #fff;
                }

                .outer {
                    fill: #bbbbbb;
                }
            }

            p {
                margin-left: 10px;
                font-size: 22px;
            }

            &.selected {
                background-color: $correct_answer;
                color: #fff;

                svg {
                    .inner {
                        fill: $correct_answer;
                    }

                    .outer {
                        fill: $background_color;
                    }
                }

                &:hover {
                    background-color: $correct_answer;
                }
            }

            &:hover {
                background-color: darken($background_color, 6%);
            }
        }
    }

    .send {
        cursor: pointer;
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        color: #fff;
        background-color: $button_color;
        width: 300px;
        height: 60px;
        border-radius: 50px;
        font-size: 24px;
        border: solid;
        border-color: $button_color;
        transition: all ease .5s;

        &:hover {
            border: solid;
            border-color: #272425;
            color: #272425;
            background-color: $background_color;
        }
    }
}
