@import '../../css/mixins';

$correct_answer: #61bf4b;
$wrong_answer: #c6513e;
$button_color: #3a64c0;
$background_color: #faf9fe;
$alert_color: #BCCC45;

.question {
    @include flexCenter(column);
    margin-top: -20px;

    .logo {
        width: 400px;
    }

    h1 {
        margin-top: 20px;
        font-weight: 400;
        font-size: 32px;
    }

    .result {
        height: 100vh;
        width: 100vw;
        margin: 0;
        top: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        // display: none;
        @include flexCenter(column);
        display: none;

        h1 {
            color: $background-color;
            font-weight: 700;
            text-align: center;
        }

        .success {
            @include flexCenter(column);
            span {
                color: $correct_answer;
            }
            display: none;
        }

        .error {
            @include flexCenter(column);
            span {
                color: $wrong_answer;
            }
            display: none;
        }

        .alert {
            @include flexCenter(column);
            span {
                color: $alert_color;
            }
            display: none;
        }
    }

    .cards {
        margin-top: 20px;
        .card {
            cursor: pointer;
            display: flex;
            justify-content: start;
            align-items: center;
            background: #fff;
            margin-top: 10px;
            /* 558x63 */
            width: 35vw;
            height: 63px;
            border-radius: 5px;
            box-shadow: 5px 2px 8px rgba(0, 0, 0, .15);
            transition: all ease .3s;

            svg {
                margin-left: 20px;

                .inner {
                    fill: #fff;
                }

                .outer {
                    fill: #bbbbbb;
                }
            }

            p {
                margin-left: 10px;
                font-size: 22px;
            }

            &.selected {
                background-color: $correct_answer;
                color: #fff;

                svg {
                    .inner {
                        fill: $correct_answer;
                    }

                    .outer {
                        fill: $background_color;
                    }
                }

                &:hover {
                    background-color: $correct_answer;
                }
            }

            &:hover {
                background-color: darken($background_color, 6%);
            }
        }
    }

    button {
        cursor: pointer;
        margin-top: 20px;
        color: #fff;
        background-color: $button_color;
        width: 300px;
        height: 60px;
        border-radius: 50px;
        font-size: 24px;
        border: solid;
        transition: all ease .5s;

        &:hover {
            border: solid;
            border-color: #272425;
            color: #272425;
            background-color: $background_color;
        }
    }
}
