.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.question .logo {
  width: 400px;
}

@media (max-width: 900px) {
  .question .logo {
    width: 350px;
  }
}

.question h1 {
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  font-weight: 400;
  font-size: 2rem;
  width: 50vw;
  text-align: center;
}

@media (max-width: 900px) {
  .question h1 {
    font-size: 1.8rem;
    width: 80vw;
  }
}

.question .result {
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.question .result h1 {
  color: #faf9fe;
  font-weight: 700;
  text-align: center;
}

.question .result .success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.question .result .success span {
  color: #61bf4b;
}

.question .result .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.question .result .error span {
  color: #c6513e;
}

.question .result .alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.question .result .alert span {
  color: #BCCC45;
}

.question .result .navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  background-color: #3a64c0;
  width: 300px;
  height: 60px;
  border-radius: 50px;
  font-size: 24px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.question .result .navigate:hover {
  color: #272425;
  background-color: #faf9fe;
}

.question .result .navigate:hover span {
  color: #272425;
}

.question .result .navigate span {
  color: white;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.question .cards {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.question .cards .card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin-top: 10px;
  /* 558x63 */
  width: 35vw;
  height: 5rem;
  border-radius: 5px;
  -webkit-box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media (max-width: 900px) {
  .question .cards .card {
    width: 80vw;
  }
}

.question .cards .card svg {
  margin-left: 20px;
}

.question .cards .card svg .inner {
  fill: #fff;
}

.question .cards .card svg .outer {
  fill: #bbbbbb;
}

.question .cards .card p {
  margin-left: 10px;
  font-size: 22px;
}

.question .cards .card.selected {
  background-color: #61bf4b;
  color: #fff;
}

.question .cards .card.selected svg .inner {
  fill: #61bf4b;
}

.question .cards .card.selected svg .outer {
  fill: #faf9fe;
}

.question .cards .card.selected:hover {
  background-color: #61bf4b;
}

.question .cards .card:hover {
  background-color: #e4dffa;
}

.question .send {
  cursor: pointer;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
  background-color: #3a64c0;
  width: 300px;
  height: 60px;
  border-radius: 50px;
  font-size: 24px;
  border: solid;
  border-color: #3a64c0;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.question .send:hover {
  border: solid;
  border-color: #272425;
  color: #272425;
  background-color: #faf9fe;
}
/*# sourceMappingURL=styles.css.map */