@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: none; 
    outline: none; 
    font-family: Roboto, sans-serif;
}

*, *:after, *:before { box-sizing: inherit; }

a { text-decoration: none; cursor: pointer; }

li { list-style: none; }

body {
    background-color: #faf9fe;
}